@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.container{
  display: flex;
  width: 95%;
  flex-direction: column;
  border: 2px solid rgba(85, 84, 84,0.5);
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}
.fase-function select{
  font-size: large;
  width: 130px;
  text-align: center;
}
.tables{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.into{
  border: 2px solid rgba(85, 84, 84,0.5);
  border-radius: 5px;
  width: 95%;
  padding: 15px;
  margin: 15px;
}
.marco{
  padding-left: 10px;
}
.into h1{
  color: #414141;
}
.fase-function h2{
  color: #414141;
  font-style: italic;
}
.imagen-metodo p{
  color: #414141;
  font-style: italic;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.matrices{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2{
  color: #414141;
  font-style: italic;
}
.results{
  display: flex;
  width: 95%;
  padding: 15px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(85, 84, 84,0.5);
  border-radius: 5px;
}
.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.results h2{
  color: #414141;
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
}
.imagen-metodo {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagen-metodo img{
  display: flex;
  width: 40%;
}
#campos-generados select{
  font-size: x-large;
  width: 70px;
  text-align: center;
}
.z-function{
  display: flex;
  width: 95%;
  padding: 15px;
  margin: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(85, 84, 84,0.5);
  border-radius: 5px;
}
.z-function input{
  font-size: x-large;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(85, 84, 84,0.5);
}
input{
  font-size: x-large;
  width: 70px;
}
label{
  font-size: x-large;
  color: #414141;
}
.fase-function input{
  font-size: x-large;

  width: 70px;
  text-align: center;
}

.fase-function{
  display: flex;
  width: 100%;
  justify-content: center;
}
button{
  margin: 10px;
  padding: 10px;
  font-size: x-large;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.restricciones{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.campos-generados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.campo-boton{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}
table {
  border-collapse: collapse;
  margin: 20px;
}

table, th, td {
  text-align: center;
  padding: 10px;
}
table,tr,th,td{
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: rgba(138, 138, 138, 0.9);
}
